.App {
  text-align: center;
}

header {
  color: black;
}


/* Setting fade transition and default settings */
body {
  color: #000;
  background-color: #f4f4f4;
  transition-property: opacity, background-color; 
  transition-duration: 1s; 
  transition-timing-function: ease; 
}

@keyframes pulse {
  0% {
    scale: 100%;
    /* text-shadow:  #416165 1px 1px,  #416165 2px 2px; */
  }
  100% {
    scale: 150%;
    /* text-shadow:  #416165 3px 3px,  #416165 4px 4px; */
  }
}

.pulse {
  /* animation: pulse 2s ease-in-out 0 infinite alternate; */
  /*animations*/
  animation-name: pulse;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
  /* font-family: 'Montserrat', sans-serif; */
  text-shadow: #416165 1px 1px, #416165 2px 2px;
  text-align: center;
}

.n2-align-left {
  float: left;
}

#n2-tag-line > span {
  font-weight: bold;
  color: #F19031;
  text-rendering: optimizeLegibility;
}

.n2-site-branding {
  color: black;
}

.n2-site-branding > h1 > span {
  color: #F19031;
}

.n2-services-banner {
  display: flex;
  flex-direction: row;
}

.n2-services-banner > span {
  margin: 0 .5rem;
}

.n2-services-banner > span.not-last::after {
    content: '| \00A0';
    position: relative;
    left: .625rem;
}


/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  flex-direction: column;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}

#deer-panel {
  background-image: url('./media/two-deer-wide.png');
  background-size: cover;
  justify-content: start;
}


.transparent {
  opacity: 0;
  transition: opacity 1s ease;
}

.opaque {
  opacity: 1;
  transition: opacity 1s ease;
}

/* colours */
.color-black {
  background-color: #000;
}
.color-deer {
  background-color: #000;
}
.color-violet {
  background-color: #7A4EAB;
}
.color-indigo {
  background-color: #4332CF;
}
.color-blue {
  background-color: #2F8FED;
}
.color-green {
  background-color: #4DCF42;
}
.color-yellow {
  background-color: #FAEB33;
}
.color-orange {
  background-color: #F19031;
}
.color-red {
  background-color: #F2293A;
}

.n2-site-branding {
  display: flex;
}

.n2-site-branding > img {
  max-height: 5vh;
  width: auto;
}

.n2-home-quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: white;
  font-size: 1.5em;
  font-weight: 200;
  max-width: 60vw;
  margin: 2em;
  text-align: center;
}

div.panel > h2 { 
  font-weight: 200;
  text-transform: uppercase;
  font-size: 3em;
}

.n2-home-quote > p > span {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 500;
}

.deer-panel-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  margin: 2em;
  text-align: center;
  color: black;
}

.deer-panel-wrapper > p {
  padding: 1em;
  font-weight: 200;
  font-style: normal;
  font-size: 1.5em;
}

.deer-panel-wrapper > h2 {
  font-weight: 100;
  font-size: 3em;
  text-transform: uppercase;
}

#n2-intro-wrapper {
  text-align: center;
  margin-top: 10vh;
}

#img-panel {
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  flex-direction: column;
}

#img-panel > img {
  width: 100vw;
  height: auto;
}

.n2-how-we-work-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}

.panelBody {
  display: flex;
  flex-direction: row;
  max-width: 80vw;
}

.panelBodyVertical {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  text-align: center;
}

.stretchToFill {
  flex: 1;
}

.social-media-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 60vw;
}

.social-media-wrapper > *:hover {
  cursor: pointer;
}


.panelHalf {
  margin: 1em;
  display: flex;
  min-width: 40vw;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.servicesList {
  text-align: left;
}

.servicesList > li {
  padding: .5em;
}


.n2-wrap-list {
  display: flex;
  flex-direction: row;
  margin: 1em;
  margin-bottom: 2em;
}


.n2-how-we-work-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.n2-how-we-work-list > li {
  padding: .5em;
}

.footer {
  min-width: 100vw;
  min-height: 6vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.footer > p {
  padding: 1em;
  margin: 0;
}


@media only screen and (max-width: 600px) {

  #deer-panel {
    background-image: url('./media/two-deer.jpg');
    justify-content: flex-start;
    align-items: center;
  }

  .n2-home-quote {
    max-width: 80vw;
    text-align: center;
    font-size: 1.5em;
    margin-top: 4vh;
  }

  .deer-panel-wrapper {
    padding-top: 4em;
    max-width: 80vw;
    text-align: left;
    text-align: center;
    align-content: center;
  }

  .mobile-hide {
    display: none;
  }

  #n2-tag-line {
    margin-top: 2rem;
  }

  #n2-intro-wrapper {
    text-align: center;
  }

  #img-panel {
    display: none;
  }

  .n2-services-banner > span::after {
    display: none;
    position: relative;
    left: .625rem;
  }

  .n2-services-banner {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .n2-services-banner > span {
    padding-top: .33rem;
    padding-bottom: .33rem;
  }
}