.App {
  text-align: center;
}

header {
  color: black;
}


/* Setting fade transition and default settings */
body {
  color: #000;
  background-color: #f4f4f4;
  transition-property: opacity, background-color; 
  transition-duration: 1s; 
  transition-timing-function: ease; 
}

.n2-align-left {
  float: left;
}

#n2-tag-line > span {
  font-weight: bold;
  color: hotpink
}

.n2-site-branding > h1 > span {
  color: hotpink;
}

.n2-services-banner {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {

  #n2-intro-message {
    height: 80vh;
  }

  #n2-tag-line {
    margin-top: 2rem;
  }

  #n2-intro-message {
    text-align: center;
  }

  #img-panel {
    display: none;
  }

  .n2-services-banner > span::after {
    display: none;
    position: relative;
    left: .625rem;
  }

  .n2-services-banner {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .n2-services-banner > span {
    padding-top: .33rem;
    padding-bottom: .33rem;
  }
}

.n2-services-banner > span {
  margin: 0 .5rem;
}

.n2-services-banner > span.not-last::after {
    content: '| \00A0';
    position: relative;
    left: .625rem;
}


/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  flex-direction: column;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}

.panel > img {
  width: 100vw;
  height: auto;
}

/* colours */
.color-black {
  background-color: #000;
}
.color-violet {
  background-color: #7A4EAB;
}
.color-indigo {
  background-color: #4332CF;
}
.color-blue {
  background-color: #2F8FED;
}
.color-green {
  background-color: #4DCF42;
}
.color-yellow {
  background-color: #FAEB33;
}
.color-orange {
  background-color: #F19031;
}
.color-red {
  background-color: #F2293A;
}

.opaque {
  opacity: 1;
  transition: opacity 1s ease;
}
